@import 'tailwindcss';


/* animation cho product */
@keyframes fadeBounce {
  0% {
    opacity: 0;
    transform: scale(0.85) translateY(-4px);
  }
  60% {
    opacity: 1;
    transform: scale(1.05) translateY(0);
  }
  100% {
    transform: scale(1);
  }
}

.animate-fadeBounce {
  animation: fadeBounce 0.45s ease-out;
}
/* end animation cho product */

/* animation toast */
@keyframes slideIn {
  from { opacity: 0; transform: translateX(20px); }
  to { opacity: 1; transform: translateX(0); }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}

.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
